* {
  font-family: "Oswald", sans-serif;
}

@tailwind base;
@tailwind utilities;
@tailwind components;

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #030303;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fondo {
  /* background-color: rgba(255, 237, 236); */
  background-color: rgb(222, 222, 222);
}

.banner {
  position: relative;
  background-position: center center;
}

.banner-cont {
  background-color: rgba(0, 0, 0, 0.7);
}

.opt-1 {
  background-image: url("./public/opt1.png");
}

.opt-2 {
  background-image: url("./public/opt2.webp");
}
